/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Variáveis Padrão */
:root{
    /* Cores */
    --body-color: #000000;
    --text-white: #fff;

    --first-color: #22BC57;

    /* Tipografia */
    --body-font: 'Poppins', sans-serif;

    --smaller-font-size: .5rem; /*8px*/
    --small-font-size: .875rem; /*14px*/
    --normal-font-size: 1rem; /*16px*/
    --big-font-size: 1.25rem; /*20px*/
    
    --h1-font-size: 2.25rem; /*36px*/
    --h2-font-size: 1.875rem; /*30px*/
    --h3-font-size: 1.5rem; /*24px*/

}

/* Base */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
}

img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

/* Layout */
.container{
    max-width: 768px;
    width: 100%;
    padding: 0 .7rem;
}
main{

    justify-content: center;
}
.section{
    display: flex;
    justify-content: center;
}

.grid{
    display: grid;
    gap: .5rem;
}

/* Presentation */

.presentation__container{
    background-color: #ffe0de;
    
}
.presentation__socials{
    background-color: #ffc8c4;
    display: flex;
    flex-direction: column;
}
.presentation__photo{
    background-color: #ffa59e;
}
.presentation__description{
    background-color: #ff7e75;
}


.presentation__description{
    color: var(--text-white);
}
.presentation__office{
    font-size: var(--small-font-size);
}
.presentation__social-icon{
    color: var(--text-white);
    font-size: var(--h2-font-size)
}