/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Variáveis Padrão */
:root{
    /* Cores */
    --body-color: #000000;
    --text-white: #fff;

    --first-color: #22BC57;
    --first-color-alt: #036124;

    /* Tipografia */
    --body-font: 'Poppins', sans-serif;

    --smaller-font-size: .5rem; /*8px*/
    --small-font-size: .875rem; /*14px*/
    --normal-font-size: 1rem; /*16px*/
    --big-font-size: 1.25rem; /*20px*/

    --h1-font-size: 2.25rem; /*36px*/
    --h2-font-size: 1.875rem; /*30px*/
    --h3-font-size: 1.5rem; /*24px*/

    --z-normal: 10;
    --z-box: 100;
    --z-fixed: 200;
    --z-modal: 300;
}

/* Base */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
}

img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

/* Layout */
.container{
    max-width: 920px;
    width: 100%;
    padding: 0 .7rem;
}
main{

    justify-content: center;
}
.section{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section__title{
    color: var(--text-white);
}

.grid{
    display: grid;
    gap: .5rem;
}

/* Presentation */
.presentation{
    margin-top: 1rem;
}
.presentation__container{
    /* background-color: #ffe0de; */

    grid-template-columns: auto 1fr;
}
.presentation__socials{
    /* background-color: #ffc8c4; */
    display:flex;

    justify-content: center;
    flex-direction: column;
}
.presentation__photo{
    display: flex;
    justify-content: flex-end;
    /* background-color: #ffa59e; */
}
.presentation__blob{
    max-width: 440px;
    max-height: 440px;
}
.presentation__description{
    /* background-color: #ff7e75; */
    grid-column: 1 / span 2;
    grid-row: 2;
}


.presentation__description{
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.presentation__office{
    font-size: var(--small-font-size);
}
.presentation__social-icon{
    color: var(--text-white);
    font-size: var(--h2-font-size)
}


/* ABOUT */
.about{
    margin-top: 5rem;
}

.about__container{
    /* background-color: #ffe0de; */
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    
    
}
.about__description{
    background: radial-gradient(139.15% 189.17% at -24.2% -2.9%, rgba(142, 142, 142, 0.73) 0%, rgba(44, 44, 44, 0.15) 100%);
    color: var(--text-white);
    max-width: 530px;
    padding: 1rem;
    border-radius: 20px;
    backdrop-filter: blur(80px);

}
.about__tool{
    font-size: var(--h1-font-size);
    color: var(--first-color);
}
